:root {
    --light-gray: #e5e1d8;
    --dark-gray: #5e5d5a;
    --darkest-gray: #232325;
}

html,
body,
input,
textarea,
select,
button {
    border-color: var(--dark-gray);
    color: var(--light-gray);
}

html,
body,
input,
textarea,
select,
button {
    background-color: var(--darkest-gray);
}

a {
    color: #4791e6
}

g .updatemenu-item-rect {
    fill: var(--dark-gray) !important;
}
