:root {
    --light-grey: #e5e1d8;
    --dark-grey: #5e5d5a;
    --darker-grey: #333333;
    --darkest-grey: #232325;
    --dark-terminal-green: #146411;
    --light-terminal-green: #9bf293;
}

html,
body,
input,
textarea,
select,
button {
    border-color: var(--dark-grey);
    color: var(--light-grey);
}

html,
body,
input,
textarea,
select,
button {
    background-color: var(--darkest-grey);
}

a {
    color: #4791e6
}

g .updatemenu-item-rect {
    fill: var(--dark-grey) !important;
}
