:root {
    --folder-name-width: 35%;
    --top-button-count: 6;
    --checkbox-width: 16px;
}

.toprow > input:not(#currentfolder) {
    width: calc((100% - var(--folder-name-width)) / var(--top-button-count));
}

#currentfolder {
    width: calc(var(--folder-name-width) - 5%);
}

.checkbox {
    margin: 6px;
    width: var(--checkbox-width);
}

.table {
    border-collapse: collapse;
    display: block;
    overflow-x: scroll;
}

.table tr:not(#tableheader):nth-child(odd) {
    background-color: #3a3a3a;
}

.table tr:not(#tableheader):nth-child(even) {
    background-color: #333333;
}

.tablecontainer {
    max-width: 50%;
    display: inline-block;
}

.table td, .table th {
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    display: inline-block;
}

.table td {
    padding: 1px 5px 1px 5px;
}

.table th {
    text-align: left;
}

.table tr {
    white-space: nowrap;
}

#editor {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    height: 100%;
}

#editor > *:first-child {
    width: 100%;
}
