:root {
    --folder-name-width: 35%;
    --top-button-count: 6;
}

.toprow > input:not(#currentfolder) {
    width: calc((100% - var(--folder-name-width)) / var(--top-button-count));
}

#currentfolder {
    width: calc(var(--folder-name-width) - 5%);
}

.table {
    border-collapse: collapse;
    display: block;
    overflow-x: scroll;
}

.table tr:not(#tableheader):nth-child(odd) {
    background-color: #3a3a3a;
}

.table tr:not(#tableheader):nth-child(even) {
    background-color: #333333;
}

.tablecontainer {
    max-width: 50%;
    display: inline-block;
}

.table td, .table th, .table .checkbox {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.table th {
    text-align: left;
    margin-left: -2px;
    margin-right: -2px;
}

.table tr {
    white-space: nowrap;
}

#editor {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    height: 100%;
}

#editor > *:first-child {
    width: 100%;
}

.checkbox {
    width: 16px;
}

.filename {
    width: 125px;
    max-width: 125px;
    padding-top: 3px;
    padding-bottom: 3px;
}
th.filename {
    padding-left: 0px;
}

.user, .group {
    width: 100px;
}

.size {
    width: 90px;
}

.ext, .perms {
    width: 50px;
}

.readable, .writeable {
    width: 75px;
}
