:root {
    --top-button-count: 6;
    --tabletop-margin: 5px;
    --editor-margin: 7px;
}

* {
    font-family: Verdana, sans-serif;
}

#currentfolder {
    width: calc(100% - var(--tabletop-margin));
}

.divcontainer {
    margin-bottom: var(--tabletop-margin);
}

.options > * {
    width: calc((100% - var(--top-button-count) * var(--tabletop-margin)) / var(--top-button-count));
    float: left;
    margin-right: var(--tabletop-margin);
    margin-bottom: var(--tabletop-margin);
}

.tabletoprow input:not([type="range"]) {
    box-sizing: border-box;
    height: 25px;
}

.table {
    border-collapse: collapse;
    width: min-content;
}

.table thead tr {
    background-color: var(--darker-grey);
}

.table tbody tr:not(.selectedtablerow):nth-of-type(odd) {
    background-color: var(--darkest-grey);
}

.table tbody tr:not(.selectedtablerow):nth-of-type(even) {
    background-color: var(--darker-grey);
}

.tablecontainer {
    max-width: 50%;
    display: inline-block;
    overflow: auto;
}

.table td, .table th, .table .checkbox {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
}

.table tr {
    display: inline-flex;
    padding-top: 3px;
    padding-bottom: 3px;
}

#editor {
    display: inline-block;
    position: fixed;
    height: 100%;
    top: 0px;
    margin: calc(var(--editor-margin));
}

#editor > *:first-child {
    width: 100%;
}

.checkbox {
    width: 16px;
}

.filename {
    width: 125px;
}

th.filename {
    padding-left: 0px;
}

.size, .user, .group {
    width: 90px;
}

.ext, .perms, .readable, .writeable {
    width: 50px;
}

.slider {
    width: 100%;
    height: 7px;
    background: var(--dark-grey);
}

.slidecontainer {
    overflow: hidden;
    padding-bottom: var(--tabletop-margin);
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    background-color: var(--light-grey);
}

.selectedtablerow {
    background-color: var(--dark-terminal-green);
}

input:focus, textarea:focus {
    background-color: var(--darker-grey);
}
