.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3px;
}

.count {
    color: var(--dark-terminal-green);
}

.focus circle {
    fill: var(--dark-terminal-green);
    stroke: var(--dark-terminal-green);
}
.focus text {
    fill: white;
    font-size: 18px
}
