:root {
    --margin: 8px;
}

body {
    margin: 0;
}

#container {
    margin: var(--margin);
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - var(--margin) * 2);
}

#buttoncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding-bottom: 10px;
}

#buttoncontainer div {
    display: none;
}

#buttoncontainer div+button {
    grid-column-start: 1;
}

#buttoncontainer button, #outputcontainer button {
    font-size: 1.5em;
}

#outputcontainer {
    align-items: flex-end;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    width: 75vw;
}

#outputcontainer textarea {
    min-height: 100%;
    font-size: 1.5em;
}
